<div *ngIf="movie">
  <h2>Movie {{ movie.title }} Details</h2>

  <div>
    <label>Title: </label>
    <input [(ngModel)]="movie.title" placeholder="title" />
  </div>

  <div>
    <label>Director: </label>
    <input [(ngModel)]="movie.director" placeholder="director" />
  </div>

  <div>
    <label>Year: </label>
    <input [(ngModel)]="movie.year" type="number" placeholder="year" />
  </div>

  <div>
    <label>Price: </label>
    <input [(ngModel)]="movie.price" type="number" placeholder="price" />
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
